<div class="px-3 mt-2">
  <b class="display-inline"><%= message.user.username %>: </b>
  <span><%= message.body %></span>
  <small class="text-muted">(<%= message.created_at.hour %>:<%= message.created_at.min %>)</small>
</div>

